# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\EXAM Do Chanh Tin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
